<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  

  <link rel="stylesheet" type="text/css" href="/css/stylee.css">
      <link rel="stylesheet" type="text/css" href="css/menu.css">
  <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
  <meta name="robots" content="noindex,follow" />
  <style type="text/css">
    
  @media screen and (max-width: 600px) {


    #total{
      padding-right: 40%;
    }
  }
    @media screen and (min-width: 600px) {


    #total{
      padding-right: 23%;
    }
  }
  </style>
</head>
<body>
  <div class="shopping-cart">
    <!-- Title -->
    <div >
      Shopping Bag
    </div>
<% for(var i = 0 ; i < result.length; i++){%>
    <!-- Product #1 -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn" onclick="myfunction(this.id);" id="item<%=i%>"></span>

      </div>

      

      <div class="description">
        <span ><strong ><%=locals.result[i].item%></strong></span>
        <input type="hidden"  name="item<%=i%>" value="<%=locals.result[i].item%>" class="item<%=i%>">
      </div>

      <div class="quantity">
        <span>QTY</span>
        <span ><input type="text" name="name" value="<%=locals.result[i].quantity%>"></span>

      </div>

      <div class="total-price">
        <span>Rs</span>
        <span><%= result[i].price * result[i].quantity %></span> 

      </div>
    </div>

<%}%>


      <div id="total" align="right">Total  <%=locals.sum%></div>
       <form method="POST" action="/history">
    <% for (var i = 0 ; i < result.length; i++) {%>
    <div class="container">
    <input type="hidden" name="item" value="<%=locals.result[i].item%>">
    <input type="hidden" name="quantity" value="<%=locals.result[i].quantity%>">
    <input type="hidden" name="price" value="<%= result[i].price * result[i].quantity %>">
    <input type="hidden" name="res_name" value="<%=locals.result[i].res_name%>">
    <input type="hidden" name="lat" value="<%=locals.result[i].lat%>">
    <input type="hidden" name="long" value="<%=locals.result[i].long%>">
  </div>
    <%}%>

       <button class="btn btn-success m-2 pb-4 " style="width: 100%;background-color: #28a745;">CHECKOUT</button>
        <form>
  



  </div> 

<input type="hidden" name="res_name" value="<%=locals.result[0].email%>" id="email">

  <script type="text/javascript">
    function myfunction(id){
            console.log(id);


var items = document.getElementsByClassName(id);
var email = document.getElementById("email").value;
          request(items[0].value,email)
          }
  function request(items,email) {
            // console.log("I am making Ajax Request");
            $.ajax({
              type: "POST",
              url: "/delete_cart",
              data: {'items': items,'email':email},
              success: function (res) {
                console.log("in ajax");
              }
            });
            //  $("#"+id1+"1").hide();
            // $("#"+id1+"2").hide();

            alert('Item deleted from cart');
        }
    $('.delete-btn').on('click', function(e) {
     $(this).parent().parent().hide();
   });



 

  


   


 </script>
</body>
</html>
