<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  

  <link rel="stylesheet" type="text/css" href="/css/stylee.css">
  <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
  <meta name="robots" content="noindex,follow" />
  <style type="text/css">
    
  @media screen and (max-width: 600px) {


    #total{
      padding-right: 40%;
    }
  }
    @media screen and (min-width: 600px) {


    #total{
      padding-right: 23%;
    }
  }
  </style>
</head>
<body>
  <div class="shopping-cart">
    <!-- Title -->
    <div class="title">
      Shopping Bag
    </div>
<% for(var i = 0 ; i < result.length; i++){%>
    <!-- Product #1 -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn" onclick="myfunction();"></span>

      </div>

      <div class="image">
        <img src="item-1.png" alt="" />
      </div>

      <div class="description">
        <span ><strong ><%=locals.result[i].item%></strong></span>
        <input type="hidden"  value="<%=locals.result[i].item%>" id="item">
      </div>

      <div class="quantity">
        <span>QTY</span>
        <span ><input type="text" name="name" value="<%=locals.result[i].quantity%>"></span>

      </div>

      <div class="total-price">
        <span>Rs</span>
        <span><%= result[i].price * result[i].quantity %></span> 

      </div>
    </div>

<%}%>


      <div id="total" align="right">Total  <%=locals.sum%></div>
        <a href="/testtxn" class="btn btn-success m-2"> Checkout <i class="fa fa-angle-right"></i></a>
  



  </div> 


  <script type="text/javascript">
  
    $('.delete-btn').on('click', function(e) {
     $(this).parent().parent().hide();
   });


    function myfunction(){
       var txt = document.getElementById("item");
       alert(txt);

    }


 </script>
</body>
</html>
